*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --color1:#e4dede;
    --color2:#05C7F2;
    --color3:#50ABBF;
    --color4:#f1bddc;
    --color5:#F2F2F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content{
    width:40%;
    margin:45px auto;
    background-image: url(img/fondo.jpg);
    background-position: top; 
    border-radius: 10px;
}
#personal{
    height: 280px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
 
}
#personal img{
    height: 70%;
    border-radius: 20%;
    padding:5px;     
}
#personal p{
    font-size: 1.1em;
    color: #000000;   
    background-color: #ffffff;
    padding: 5px;
    margin:0;
    border-radius: 10px;
}
nav{
    margin: 20px;
    height: 300px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:80%;
    border-radius: 5px;
    gap: 20px;

}
nav ul li{
    list-style-type:none;
    min-width: 120px;
}

nav ul li a{
    text-decoration: none;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    display: block;
    border-radius: 10px;
    text-align: center;
}
nav ul li a:hover{
    color: #000000;
    font-size: 1.1em;
    border: 2.4px solid black;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav li ul {
    display: flex;
    flex-direction: column;
    display: none;
    transition: all 0.4s ease-in-out;
    transform: translateY(5px);
}
nav li:hover>ul{
    display: block;
    animation: aparecer 0.4s ease forwards;
}
nav li:hover > ul {
    margin-top: 5px;
}
nav li ul li {
    margin-bottom: 5px;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


